STAGE=DEVELOPMENT
TIMEZONE=UTC
PYDEVD_DISABLE_FILE_VALIDATION=1

# production example how to include API from a service we use
INPUT_SERVICE_URL = https://input-service.service-provider.io
INPUT_SERVICE_API_KEY = K88dfdkTsdsfd772dfdfd98374k7dGIF

API_KEY=foo
LOGGING_LEVEL=WARNING

DAGSTER_HOME=/opt/priceless/data/dagster_home

# my credentials to send email with the alerts
GMAIL_ADDRESS="" 
GMAIL_APP_PASSWORD=""

